.vscode/

flask/images/
flask/src/download_from_flickr.py
flask/src/*.ipynb
flask/src/.ipynb_checkpoints
flask/src/*.npy
flask/src/*.h5
flask/src/test_image
flask/src/__pflask/ycache__
flask/src/uploads

Django/images/
Django/src/download_images.py
Django/src/*.npy
Django/src/*.h5
Django/src/myApp/media/
Django/src/myApp/club_team_classifier/ml_models/