<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    {% load static %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'club_team_classifier/css/style.css' %}">
    {% bootstrap_javascript jquery='full' %}
    <script type="text/javascript" src="{% static 'club_team_classifier/js/predicting.js' %}"></script>
    <title>Soccer Team Classifier | {% block title %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Soccer Team Classifier</a>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>

</html>